.app-container{
    background-color: #ff9500;
    color: white;
    width: 400px;
    height: 90vh;
    max-height: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 20px;
    // font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: Titillium Web;
    border-radius: 10px;
    border: 2px solid white;
}